<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
  <header class="bg-gradient-to-r from-blue-800 to-indigo-800 text-white">
    <nav class="px-8 py-6 flex items-center">
      <div class="text-4xl pr-12 font-serif">Photogram</div>
      <div class="flex-grow">
        <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/">Home</a>
        <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/contact">Contact</a>
        <a class="text-lg font-semibold hover:text-blue-100 pr-8" href="/faq">FAQ</a>
      </div>
      <div>
        <a class="pr-4" href="#">Sign in</a>
         <a class="px-4 py-2 bg-blue-700 hover:bg-blue-600 rounded"
          href="#">Sign up</a>
      </div>

    </nav>
  </header>
    {{template "page" .}}
 

<footer class="bg-blue-50">
  <div class="w-full max-w-screen-2xl mx-auto p-4 py-8 text-black">
      <div class="flex items-center justify-between">
              <span class="self-center text-2xl font-serif whitespace-nowrap">Photogram</span>
          <ul class="flex flex-wrap items-center text-sm font-medium text-gray-500">
              <li>
                  <a href="/" class="hover:underline me-4 pr-8">Home</a>
              </li>
              <li>
                  <a href="/contact" class="hover:underline me-4 pr-8">Contact</a>
              </li>
              <li>
                  <a href="/faq" class="hover:underline me-4 pr-8">FAQ</a>
              </li>
          </ul>
      </div>
      <hr class="my-6 border-gray-200 mx-auto" />
      <span class="block text-sm text-gray-500 text-center">© 2024 <a href="/" class="hover:underline">Photogram™</a>. All Rights Reserved.</span>
  </div>
</footer>


</body>
</html>